.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.tsbuildinfo
contributing.md
.travis.yml
client/src/**
server/src/**
**/node_modules/**
scripts/**
client/testFixture/**
../**
!client/out/extension.js
!server/out/server.js
